<p>Hi <%= user.fullName %></p>

<div>
    <p>Your email was changed. Please verify new email address <%= user.email %></p>

    <a href="<%= accountVerificationUrl %>">Verify Your new Email Address</a>
</div>
