<p>Hi <%= user.fullName %></p>

<div>
  <p>Please click on the button below to complete verification process for <%= user.email %></p>

  <a href="<%= accountVerificationUrl %>">Verify Your Email Address</a>
</div>
